<footer class="text-black d-flex flex-wrap justify-content-evenly">
   
    <div class="mt-5">
       
            <h6><i class="fas fa-map-marker-alt me-2 text-danger"></i>Flat no 100</h6>
            <h6 class="ms-3">Dilsuknagar</h6>
            <h6 class="ms-3">Hyderabad-500022</h6>
       
    </div>
    <img src="/assets/footer_location.svg" width="13%" class="mb-3 mt-3">
    <div class="mt-5">
       
            <h6><i class="fas fa-envelope me-2 text-warning"></i>gamesDevelopers@mail.com</h6>
            <h6><i class="fas fa-phone-alt me-2 text-success"></i>+91 9999999999</h6>
            <h6><i class="fas fa-gamepad me-2" id="gamer"></i>Gamer solutions</h6>
     
    </div>


</footer>