
<div class="row">
    <div class="col-1 col-sm-2 col-md-2 col-lg-3"></div>
    <div class="col-10 col-sm-8 col-md-8 col-lg-6">
        <div class="container w-100 d-block mx-auto border border-black mt-5 mb-4">

            <!-- Heading for register page -->
            <img src="/assets/login.svg" width="30%" class="d-block mx-auto">
            <h1 class="text-center mt-0 mb-4" id="register"><i class="fas fa-sign-in-alt me-2"></i>Login Form</h1>

            <!-- Form inside register page -->
            <form>
                <label for="un" class="form-label"><i class="fas fa-user-plus me-2"></i>Username</label>
                <input type="text" class="form-control" name="username" id="un" placeholder="Enter Username...">

                <label for="email" class="form-label mt-3"><i class="fas fa-envelope me-2"></i>Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email...">

                <button type="submit" class="btn btn-success d-block mx-auto mt-5 mb-5"><i class="fas fa-plus-circle ms-0 me-1"></i>Login</button>
            </form>
        </div>
    </div>
    <div class="col-1 col-sm-2 col-md-2 col-lg-3"></div>
</div>

