a
{
    color: white;
}

.active.nav-link
{
    font-weight: bold;
    font-size: 17px;
    border-radius: 20px;
    margin-right: 5px;
}

.navbar-brand
{
    font-family: 'Pattaya', sans-serif;
    font-family: 'Limelight', cursive;
    color:darkorange
}

.navbar-brand:hover
{
    color: darkorange;
}

