<div class="maindiv">
  <ul class="nav nav-pills justify-content-evenly">

      <li class="nav-item mt-2">
        <a class="nav-link" routerLink="addGames" routerLinkActive="active" ><i class="fas fa-plus-circle me-2"></i>Add Games</a>
      </li>

      <li class="nav-item mt-2">
        <a class="nav-link" routerLink="viewGames"  routerLinkActive="active"><i class="fas fa-eye me-2"></i>View Games</a>
      </li>
      
  </ul>
</div>


  <div>
      <router-outlet></router-outlet>
  </div>

