
.table
{
    background-color: rgb(223, 222, 222);
}

#searchInput
{
    border-radius: 20px;
}

@media screen and (min-width:520px) and (max-width:150px) 
{
    .table
    {
        width: 500px;
        
    }    
}

th
{
    color: brown;
}

#gameTitle
{
    color: black;
    font-weight: bold;
}
td
{
    font-style: italic;
}