<div class="maindiv">

    <input type="text" name="title" placeholder="Search game by its name" class="form-control mt-4 mb-3"
    [(ngModel)]= "searchTerm" id="searchInput">

    <form #ref="ngForm" (ngSubmit)="saveGame(ref.value)">

        <table class="table text-center table-striped table-bordered">
            <thead>
                <th class="pb-3 pt-2">GameName</th>
                <!-- <th>Short Description</th> -->
                <th class="pb-3">Genre</th>
                <th class="pb-3">Platform</th>
                <th class="pb-3">Publisher</th>
                <th class="pb-3">Developer</th>
                <th class="pb-3">Date</th>
                <th class="pb-3">Picture</th>
            </thead>

            <tbody>
                <tr *ngFor="let game of games | search:searchTerm | paginate: {itemsPerPage:10, currentPage:p}; let ind=index">
                    <td id="gameTitle">
                        <span *ngIf="!editGameStatus || editGameIndex!==ind">

                            {{game.gameName}}

                        </span>

                            <input type="text" name="gameName"  [(ngModel)]="editGameObj.gameName" class="w-75"
                                    *ngIf="editGameStatus && editGameIndex==ind">

                    </td>
                    <!-- <td>{{game.short_description}}</td> -->
                    <td>
                        <span *ngIf="!editGameStatus || editGameIndex!==ind">

                            {{game.genre}}
                        
                        </span>

                            <input type="text" name="genre"  [(ngModel)]="editGameObj.genre" class="w-75"
                                    *ngIf="editGameStatus && editGameIndex==ind">

                    </td>
                    <td>
                        <span *ngIf="!editGameStatus || editGameIndex!==ind">

                            {{game.platform}}
                        
                        </span>

                            <input type="text" name="platform"  [(ngModel)]="editGameObj.platform" class="w-75"
                                    *ngIf="editGameStatus && editGameIndex==ind">

                    </td>
                    <td>
                        <span *ngIf="!editGameStatus || editGameIndex!==ind">

                            {{game.publisher}}
                        
                        </span>

                            <input type="text" name="publisher"  [(ngModel)]="editGameObj.publisher" class="w-75"
                                    *ngIf="editGameStatus && editGameIndex==ind">

                    </td>
                    <td>
                        <span *ngIf="!editGameStatus || editGameIndex!==ind">

                            {{game.developer}}
                        
                        </span>

                            <input type="text" name="developer"  [(ngModel)]="editGameObj.developer" class="w-75"
                                    *ngIf="editGameStatus && editGameIndex==ind">

                    </td>
                    <td>
                        <span *ngIf="!editGameStatus || editGameIndex!==ind">

                            {{game.release_date}}
                        
                        </span>

                            <input type="text" name="release_date"  [(ngModel)]="editGameObj.release_date" class="w-75"
                                    *ngIf="editGameStatus && editGameIndex==ind">

                    </td>

                    <td>
                        <img src={{game.thumbnail}} width="60%">
                    </td>

                    <span *ngIf="!editGameStatus || editGameIndex!==ind">

                        <!-- Game Info button -->
                        <button class="btn btn-primary btn-sm bg-primary mt-2" (click)="onSelectGame(game.gameName)"><i class="fas fa-info-circle"></i></button>

                        <!-- Delete button -->
                        <button class="btn btn-light btn-sm bg-danger mt-2" (click)="onDeleteGame(game)"><i class="fas fa-trash-alt text-white"></i></button>

                        <!-- Edit button -->
                        <button class="btn btn-sm btn-success bg-success mt-2" type="submit" (click)="editGame(game,ind)"><i class="fas fa-edit text-white"></i></button> 
                    </span>


                    <!-- Save button -->
                    <span *ngIf="editGameStatus && editGameIndex==ind">
                        <button class="btn btn-sm btn-success" type="submit"><i
                                class="fas fa-save text-white"></i></button>
                    </span>
                        
                </tr>

            </tbody>
        </table>
    </form>
</div>

<!-- pagination -->
 <pagination-controls (pageChange)="p=$event" class="text-center"></pagination-controls> 

