<ul class="nav nav-pills justify-content-evenly mt-3">
    
    <li class="nav-item">
        <a class="nav-link" routerLink="action" routerLinkActive="active">
            <i class="fab fa-xbox text-danger"></i>   Action
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="card" routerLinkActive="active">
            <i class="fas fa-crown text-warning"></i>  Card
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="fantasy" routerLinkActive="active">
            <i class="fab fa-fantasy-flight-games text-warning"></i>  Fantasy
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="fighting" routerLinkActive="active">
            <i class="fas fa-fighter-jet text-primary"></i>  Fighting
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="mmorpg" routerLinkActive="active">
            <i class="fas fa-gem text-info"></i>  MMORPG
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="mmo" routerLinkActive="active">
            <i class="fas fa-hat-wizard text-info"></i>  MMO
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="moba" routerLinkActive="active">
            <i class="fas fa-broom text-warning"></i>  MOBA
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="shooter" routerLinkActive="active">
            <i class="fas fa-khanda text-success"></i>  Shooter
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="social" routerLinkActive="active">
            <i class="fas fa-poll text-primary"></i>  Social
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="sports" routerLinkActive="active">
            <i class="fas fa-bowling-ball text-danger"></i>  Sports
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="strategy" routerLinkActive="active">
            <i class="fas fa-running text-info"></i>  Strategy
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="racing" routerLinkActive="active">
            <i class="fas fa-biking text-warning"></i>  Racing
        </a>
    </li>


</ul>

<router-outlet></router-outlet>

<!-- <div class="container w-75">

    <input type="text" name="title" placeholder="Search game by its name" class="form-control mt-4 mb-3"
    [(ngModel)]= "searchTerm">

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <div *ngFor="let game of gamesObj | search:searchTerm | paginate: {itemsPerPage:9, currentPage:p}">       
            <div class="col" >
                <div class="card text-center mt-3 border border-dark mb-3 animate__animated animate__flipInY">
                    <img src={{game.thumbnail}} width="100%">
                    <div class="card-body text-white bg-dark">
                        <div class="card-title mt-3" id="gameTitle"><h4>{{game.title}}</h4></div>
                        <hr class="text-white">
                        <button class="btn btn-primary mt-3 mb-3" (click)="onSelectId(game.id)"><i class="fas fa-info-circle me-2"></i>Game Info</button>
                    </div>
                </div>
            </div>
        </div>  
    </div>



    <pagination-controls (pageChange)="p=$event" class="text-center"></pagination-controls>
</div> -->












