<div class="container"> 

    <input type="text" name="title" placeholder="Search game by its name" class="form-control mt-4 mb-3"
    [(ngModel)]= "searchTerm">

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <div *ngFor="let game of gamesObj | search:searchTerm | paginate: {itemsPerPage:9, currentPage:p}">       
            <div class="col" >
                <div class="card text-center mt-3 border border-dark mb-3">
                    <img src={{game.thumbnail}} width="100%">
                    <div class="card-body text-white bg-dark">
                        <div class="card-title" id="gameTitle"><h4>{{game.title}}</h4></div>
                        <hr class="text-white">
                        <div class="card-text">{{game.short_description}}</div>
                        <a href={{game.game_url}} class="btn btn-danger w-50 mb-2 mt-3"><i class="fas fa-play-circle me-2"></i>Play Game</a><br>
                        <a href={{game.freetogame_profile_url}} class="btn btn-warning text-white w-50 mb-3"><i class="fas fa-puzzle-piece me-2"></i>About Game</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>


<pagination-controls (pageChange)="p=$event" class="text-center"></pagination-controls>

    