<div class="maindiv m-0">
    <div class="container">

        <h1 class="text-center mb-4 header pt-3">Have Some Questions?</h1>
        <p class="text-center text-white" id="location"> <i class="fas fa-globe-americas me-2"></i><i>Hyderabad, Name: GamingTeam, Area: KPHB, Flat No: 100, Contact: 9618563873</i></p>
        <div class="row mt-5">
            <div class="col-sm-6">
                <!-- A picture to display on left side -->
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdJ4EwcKua2f9hoL6KlgrDigCHjXpEX6z8jaPyJovt9aqNPzzytRn69SwjLoch3zE8Tqg&usqp=CAU" width="70%" class="d-block mx-auto mb-3"> 
            </div>
            <div class="col-sm-6">

                <!-- Form for contactUs -->
                <form>
                    <label for="fn" class="form-label mt-3 text-dark"><i class="fas fa-user-plus me-2"></i>First Name</label>
                    <input type="text" class="form-control" name="firstname" id="fn" placeholder="Enter Firstname...">

                    <label for="ln" class="form-label mt-3 text-dark mt-3"><i class="fas fa-user-plus me-2"></i>Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="un" placeholder="Enter Lastname...">

                    <label for="em" class="form-label mt-3 text-dark mt-3"><i class="fas fa-envelope me-2"></i>Email</label>
                    <input type="email" class="form-control" name="email" id="em" placeholder="Enter Email...">

                    <label for="fb" class="form-label mt-3 text-dark mt-3"><i class="fas fa-question-circle me-2"></i>Your Question?</label>
                <textarea name="feedback" id="fb" class="form-control" placeholder="Your Questions.."></textarea>

                <button type="submit" class="btn btn-primary d-block mx-auto mt-3 p-2 mb-4"><i class="fas fa-paper-plane me-2"></i>Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>