.card
{
    border-radius: 20px;
    margin-top: 15px;
}
#image
{
    border-radius: 0px;
}
#gameTitle
{
    color:mediumvioletred;
    font-weight: bold;
    font-family: 'Pattaya', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
}
#platform,#genre,#publisher,#developer,#releaseDate
{
    color: coral;
    font-weight: bold;    
}
input
{
    border-radius: 20px;

}
