<div class="maindiv pb-5">
    <h4 class="text-center pt-3 mb-3 text-white"><marquee class="text-primary"><i class="fas fa-chess-king me-2"></i>Welcome to GamerGenix<i class="fas fa-chess-king ms-2"></i></marquee></h4>
    <h2 class="text-center animate__animated animate__fadeInDownBig" id="head1">PLAY  FREE  ONLINE GAMES</h2>
    <h2 class="text-center animate__animated animate__fadeInDownBig" id="head2">IN  YOUR  BROWSER</h2>
      
      <div class="container w-50" id="collectionContainer">
        <h5 class="text-center mt-4 mb-3 animate__animated animate__backInLeft" id="collections"><i class="fas fa-align-left me-2"></i>OUR COLLECTIONS</h5>
        <hr class="text-danger">
        <ul class="list-unstyled text-white">

          <div class="row">
            <div class="col-sm-4">
              <h6><i class="fab fa-xbox me-2 text-danger"></i><i>Action</i></h6>
            </div>
            <div class="col-sm-4">
              <h6><i class="fas fa-fighter-jet me-2 text-primary"></i><i>Fighting</i></h6>
            </div>
            <div class="col-sm-4">
              <h6><i class="fas fa-paw me-2" id="foot"></i><i>MOBA</i></h6>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <h6><i class="fas fa-volleyball-ball me-2" id="basketball"></i><i>Sports</i></h6>
            </div>
            <div class="col-sm-4">
              <h6><i class="fas fa-crown me-2 text-warning"></i><i>Card</i></h6>
            </div>
            <div class="col-sm-4">
              <h6><i class="fas fa-gem me-2 text-info"></i><i>MMORPG</i></h6>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <h6><i class="fas fa-khanda me-2 text-success"></i><i>Shooter</i></h6>
            </div>
            <div class="col-sm-4">
              <h6><i class="fas fa-running me-2 text-info"></i><i>Strategy</i></h6>
            </div>
            <div class="col-sm-4">
              <h6><i class="fab fa-fantasy-flight-games me-2 text-warning"></i><i>Fantasy</i></h6>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <h6><i class="fas fa-hat-wizard me-2 text-info"></i><i>MMO</i></h6>
            </div>
            <div class="col-sm-4">
              <h6><i class="fas fa-share-alt-square me-2 text-primary"></i><i>Social</i></h6>
            </div>
            <div class="col-sm-4">
              <h6><i class="fas fa-motorcycle me-2 text-warning"></i><i>Racing</i></h6>
            </div>
          </div>
        </ul>
      </div>
      

  <div class="container">
   <h2 id="trendingHead"><i class="fas fa-poll me-2 mt-4"></i>7 GAMES ON TRENDING</h2>
   <h5 class="text-center mt-4 text-warning" id="carouselHead"><i class="fas fa-mouse-pointer me-2"></i>JUST CLICK AND START PLAYING</h5>
   <div class="row">
     <div class="col-lg-1"></div>
     <div class="col-sm-12 col-md-12 col-lg-10">

  
        <div id="carouselExampleControls" class="carousel slide carousel-fade border border-light" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
            <a href="https://www.freetogame.com/open/archeage"><img src="/assets/archeage.jpg"  width="100%"></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.freetogame.com/open/warframe"><img src="/assets/Warframe.jpg"  width="100%"></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.freetogame.com/open/crossfire"><img src="/assets/crossfire.jpg" width="100%" ></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.freetogame.com/open/maplestory-2"><img src="/assets/maplestory2.jpg" width="100%" ></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.freetogame.com/open/ryzom"><img src="/assets/ryzom.jpg" width="100%" ></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.freetogame.com/open/4story"><img src="/assets/4STORY.jpg" width="100%" ></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.freetogame.com/open/warmode"><img src=" /assets/warmode.jpg" width="100%" ></a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>








      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-5">
          <div class=" mt-3">
            <div class="card h-100 bg-dark border border-light">
              <div class="card-body">
                <img src="/assets/atmosphere.svg" width="50%"  class="d-block mx-auto mb-0 mt-0">
                  <p class="text-center mt-4 text-white">
                    <span class="first">INCREDIBLE ATMOSPHERE</span>
                  </p>
                  <hr class="text-white">
                  <p class="text-center text-white" id="para2">
                    From mission to mission the game will alternate from action to slow and methodical  creating a nice pace for the player
                  </p>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="card h-100 bg-dark border border-light">
              <div class="card-body">
                <img src="/assets/battle.svg" alt="." width="50%" class="d-block mx-auto mt-0">
                  <p class="text-center mt-5 text-white">
                    <span class="first">CATCHY BATTLES</span>
                  </p>
                  <hr class="text-white">
                  <p class="text-center text-white">
                    Battle Games - fight on 300+ battlefields against monsters , tanks and more !
                  </p>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="card bg-dark border border-light">
              <div class="card-body">
                <img src="/assets/awards.svg" width="50%" class="d-block mx-auto mt-0">
                <p class="text-center mt-5 text-white" id="para1">
                  <span class="first">28 AWARDS</span>
                </p>
                <hr class="text-white">
                <p class="text-center text-white" id="para2">
                  We upholds creative and technical excellence in the gloabal video games industry . We bring together a diverse group of games from popular culture.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
