

<div class="row">
    <div class="col-1 col-sm-2 col-md-2 col-lg-3"></div>
    <div class="col-10 col-sm-8 col-md-8 col-lg-6">
        <div class="container w-100 d-block mx-auto border border-black mt-5 mb-4">

    <!-- Heading for register page -->
            <img src="/assets/register.svg" width="22%" class="d-block mx-auto mb-0">
            <h1 class="text-center mt-0 mb-4" id="register"><i class="fas fa-sign-in-alt me-2"></i>Registration Form</h1>

    <!-- Form inside register page -->
            <form>
                <label for="un" class="form-label"><i class="fas fa-user-plus me-2"></i>Username</label>
                <input type="text" class="form-control" name="username" id="un" placeholder="Enter Username...">

                <label for="email" class="form-label mt-3"><i class="fas fa-envelope me-2"></i>Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email...">

                <label for="pw" class="form-label mt-3"><i class="fas fa-lock me-2"></i>Password</label>
                <input type="password" class="form-control" name="password" id="pw" placeholder="Enter Password...">

                <label for="dob" class="form-label mt-3"><i class="fas fa-calendar-alt me-2"></i>Date Of Birth</label>
                <input type="date" class="form-control" name="dob" id="dob">

                <button type="submit" class="btn btn-primary d-block mx-auto mt-3 mb-4"><i class="fas fa-plus-circle me-2"></i>Register</button>
            </form>
        </div>
    </div>
    <div class="col-1 col-sm-2 col-md-2 col-lg-3"></div>
</div>
